*{
    margin: 0;
    padding: 0;
}

/* =================================(navbar)=============================== */
.navbarsticky{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
}
.navbar{
    height: 90px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.navbar img{
    width: 100px;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    margin-left: 180px;
}
.navbar ul li{
   list-style: none;
   margin: 10px;
   position: relative;
}
.navbar ul li::before{
content: "";
height: 3px;
width: 0px;
background-color: black;
position: absolute;
left: 0;
bottom: 0;
transition: all 0.5s;
}
.navbar ul li:hover::before{
    width: 100%;
}
.navbar ul li a{
    text-decoration: none; 
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.dwnld-btn{
    height: 40px;
    width: 158px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 15px 0px 20px;
    position: relative;
}


/* =================================(/navbar)=============================== */
/* =================================(section-1)=============================== */



.section-1{
  height: 100vh;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.firstpage{
position: relative;
height: 65%;
/* background-color: aquamarine; */
margin: 0px auto 0px auto;
width: 65%;
}
.firstpage img{
   position: relative;
   width: 100%;
}
/* =================================(/section-1)=============================== */

/* =================================(section-2)=============================== */

.section-2{
    height: 100vh;
    /* background-color: antiquewhite; */
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.secondpage{
    position: relative;
    height: 100%;
    /* background-color: aquamarine; */
    margin: 0px auto 0px auto;
    width: 65%;
}
.secondpage h3{
    font-weight:200;
    line-height: 60px;
    color: black;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin-left: 70px;
}

.secondpage_container{
    position: relative;
/* background-color: red; */
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.secondpage_container img{
    width: 50%;
}



/* =================================(/section-2)=============================== */

/* =================================(section-3)=============================== */



.section-3{
    height: 120vh;
    width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  }
  
  .thirdpage{
  position: relative;
  height: 100%;
  margin: 0px auto 0px auto;
  width: 65%;
  }
  .thirdpage img{
     position: relative;
     width: 100%;
  }
  /* =================================(/section-3)=============================== */
/* =================================(section-4)=============================== */



.section-4{
    height: 45vh;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  }
  
  .fourthpage{
  position: relative;
  height: 65%;
  margin: 0px auto 0px auto;
  width: 65%;
  }
  .fourthpage img{
     position: relative;
     width: 100%;
  }
  /* =================================(/section-4)=============================== */
















/* =================================(section-8)=============================== */


.section-8{
    height: 40vh;
    background-color: black;
    position: relative;
    top: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eightpage{
  position: relative;
  /* background-color: blue; */
  display: flex;
  height: 70%;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}
.box{
    position: relative;
    height: 100%;
    width: 15%;
    /* background-color: red; */
   display: flex;
   flex-direction: column;
   /* justify-content: space-between; */
   align-items: center;
}

.eightpage h3 {
  margin-bottom: 25px;
}
.eightpage-1 img{
    margin: 5px;
}
.eightpage-3,.eightpage-4{
    align-items: flex-start;
}
.eightpage-4{
    left: -100px;
}
.eightpage-5{
    left: -120px;
}
.eightpage ul li{
   list-style: none;
   font-size: 17px;
   margin: 10px 0px;
}
.eightpage ul li a{
    text-decoration: none;
    color: #ffff;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons a{
text-decoration: none;
color: #fff;
margin: -5px 15px 15px 0px;
font-size: 20px;
}

hr{
    color: #4B4B4B;
}

footer{
    overflow-x: hidden;
    position: relative;
    bottom: 0;
    height: 10vh;
    width: 100%;
    top:80px;
    background-color: black;
}
.foot{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
}


/* =================================(/section-8)=============================== */

/* =================================(download)=============================== */
/* .download{
    display: none;
} */
.blackscreen{
    width: 100%;
    height: 810vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: absolute;
    top: 0%;
}

.dwnldapp{
    position: fixed;
    height: 320px;
    width: 900px;
    background-color: #fff;
    margin-left: 320px;
    margin-top: 240px;
    display: flex;
    box-shadow: 0px 2px 15px grey ;
    border-radius: 5px;
}
.dwnldapp-left{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dwnldapp-left h3{
    color: black;
    font-size: 23px;
    font-weight: 500;
}
.dwnldapp-left img{
    width: 90px;
    margin-top: 30px;
}
.dwnldapp-left p{
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;

}
.line{
    border-right: 2px solid rgb(101,99,99);
    margin-top: 60px;
    margin-bottom: 50px;
}
.dwnldapp-right{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dwnldapp-right h3{
    color: black;
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    margin: 0%;
}
.dwnldapp-img{
    width: 320px;
    height: 150px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.dwnldapp-right img{
    width: 80px;
    text-align: right;
}
.dwnldapp-img1 p{
    color: #303030;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.dwnldapp-img2 p{
    color: #303030;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.closetab{
    background-color: #ebebeb;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


/* =================================(/download)=============================== */